* {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

html {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

body {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

.main{

}

/* TODO: 또 어떤 코드들이 들어가야 할까요? */



/* 최동국 */

.main-detail{margin-left:400px; width:1100px; display:block;}
#first{font-size:20px; color:gray;}
#fbox{border:1px solid darkgrey;  display:block;  padding:10px;  margin-bottom:0px;}
#linkinbox{margin-right:80px; margin-left:80px;color:black;}
#linkinbox:hover{color: firebrick;}
/*text-decoration:none 안했는데 왜 링크 밑줄 없음?*/
#yellow{border:1px solid gray; margin-top:0px; padding:10px; background-color: yellow;}
#img{height:30px; margin-top:0px;}
#droplist{height:30px; width:130px; font-size:16px; color:darkgray; position:relative; bottom:10px; text-align:center; display:inline}
#listrighttext{position:relative; bottom:7px; font-size:20px; left:10px; color:dodgerblue;}
#listrighttext2{position:relative; bottom:9px; font-size:20px; left:12px; color:darkgray;}
#img2{position:relative; height:30px; float:right;}
#year{ text-align:center; margin-left:10px;}
#str{margin-right:10px; color:black;}
#box2{border:1px solid darkgrey;  display:block;  padding:10px; color:darkgray; margin-bottom:0px; margin-top:0px; }
#box3{border:1px solid darkgrey;  display:block;  padding:10px; color:darkgray; margin-bottom:0px; margin-top:0px; background-color:lightblue;}
#box4{border:1px solid darkgrey;  display:block;  padding:10px; color:darkgray; margin-bottom:0px; margin-top:0px; background-color:whitesmoke;}
#img3{margin-right:10px; position:relative; top:5px;}
#box5{border:1px solid darkgrey;  display:block;  padding:10px; color:darkgray; margin-bottom:0px; background-color:lightgray;}
#box6{border:1px solid darkgrey;  display:block;  padding:10px; color:black; margin-bottom:0px; margin-top:0px; font-size:50px; height:150px; padding:30px;}
#textinbox2{float:right; text-decoration:none; color:darkgray; }
#textinbox{float:center;}
/*이거 왜 안됨*/


/* 최동국 */

/*!* 리세리 *!*/
.main{
    display:    inline-block;
}
aside {
    display: inline-block;
    float: right;
    width: 150px;
    background: LightGreen;
}
footer {
    width:100%;
    height:100px;
}

/* 리세리 */

/* 김성하 */

#header {
    background-color:grey;
    height:60px;
    position:relative;

}


#github_logo {
    display:inline;


}

#search {
    display:inline;
    margin-right:20px;
}

#headlist {
    display:inline;


}
#headlist p a {
    text-decoration:none;
    color:black;

}
#headlist p a:hover {
    color:powderblue;
}
#headlist1 {

    display:inline;
    color:black;
}
#headlist2 {

    display:inline;
    color:black;
}
#headlist3 {

    display:inline;
    color:black;
}
#headlist4 {

    display:inline;
    color:black;
}
#sign {
    display:inline;

}


.main-header p a {
    text-decoration:none;
    color:blue;
}
.main-header p a:hover {
    text-decoration:underline;
}

#knowre {
    display: inline;
    color:blue;
}

#watch {
    display:inline;
}

/* 김성하 */

/* 우진섭 */
.bottom_mascotpic {
    position: absolute;
    top:38px;
    left:50%;
    margin-left: -12px;
    font-size:24px;
    color:#ccc;
}

.container {
    width: 980px;
    margin-right:auto;
    margin-left:auto;
}

.site-footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top:1px solid #eee;
}

.site-footer-links {
    margin:0;
    list-style:none;
}

.site-footer-links li {
    display:inline-block;
    line-height: 16px;
}

a {
    color:#4078c0;
    text-decoration: none;
}

.float-right {
    float:right !important;
}

/*누가 호출하셨소?*/
/* 우진섭 */