* {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

html {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

body {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

.main_style {
    margin-left: 125px;
    margin-right: 125px;
}

/* TODO: 또 어떤 코드들이 들어가야 할까요? */



/* 최동국 */
#a{font-size: 2rem}
#select{background-color:gray;} {display: block;}
#select{font-size:3rem;}
#f{border:1px solid; }
#f{display: inline;}
#b{position: relative ;
    left: 50px;}
#c{position: relative;
    left: 150px;}
#d{position: relative;
    left: 250px;}
#e{position: relative;
    left: 350px;}
#g{font-size:1rem;
    color: blue;}
/* 최동국 */

/* 리세리 */
/* 리세리 */

/* 김성하 */
#header {
    background-color:grey;
    height:60px;
    position:relative;

}


#github_logo {
    display:inline;
    margin-right:20px;

}

#search {
    display:inline;
    margin-right:20px;
}

#headlist {
    display:inline;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;

}
#headlist p a {
    text-decoration:none;
    color:black;

}
#headlist p a:hover {
    color:powderblue;
}
#headlist1 {
    padding:10px;
    display:inline;
    color:black;
}
#headlist2 {
    padding:10px;
    display:inline;
    color:black;
}
#headlist3 {
    padding:10px;
    display:inline;
    color:black;
}
#headlist4 {
    padding:10px;
    display:inline;
    color:black;
}
#sign {
    display:inline;
    margin-top:-16px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:-30px;
}


.main-header p a {
    text-decoration:none;
    color:blue;
}
.main-header p a:hover {
    text-decoration:underline;
}

#knowre {
    border: 1px solid black;
    display: inline-block;
}

#watch {
    border: 1px solid black;
    display:inline;
}
/* 김성하 */

/* 우진섭 */
/* 우진섭 */