* {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

html {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

body {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

.main_style {
    margin-left: 125px;
    margin-right: 125px;
}

/* TODO: 또 어떤 코드들이 들어가야 할까요? */



/* 최동국 */
#first{font-size:20px; color:gray;}
.mid_left{margin-left:200px; width:1100px; display:block;}
#first_box{border:1px solid darkgrey;
    display:block;
    padding:10px;
    border-radius:3%;
    margin-bottom:0px;


}
a:first-child{text-decoration: none; color:darkgray; margin-left:55px;}
a{text-decoration: none; color:darkgray; margin-right:130px;}
a:nth-child(4){text-decoration: none; color:darkgray; margin-right:0px;}
strong{margin-right:10px; color:black;}
#low{border:9px solid yellow;border-radius:3%; margin-top:0px;}
#img{font-size:40px; color:blue;}
#droplist{height:42px; width:160px;}
#box{display:block; border:1px solid; }
#boxe{display:block; border:1px solid;}

/* 최동국 */

/* 리세리 */
/* 리세리 */

/* 김성하 */
/* 김성하 */

/* 우진섭 */
.bottom_mascotpic {
    position: absolute;
    top:38px;
    left:50%;
    margin-left: -12px;
    font-size:24px;
    color:#ccc;
}

.container {
    width: 980px;
    margin-right:auto;
    margin-left:auto;
}

.site-footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top:1px solid #eee;
}

.site-footer-links {
    margin:0;
    list-style:none;
}

.site-footer-links li {
    display:inline-block;
    line-height: 16px;
}

a {
    color:#4078c0;
    text-decoration: none;
}

.float-right {
    float:right !important;
}
/* 우진섭 */